<!DOCTYPE html>
<html>
<head>
  <title>FirstRealApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "jquery.js", "rails.js" %>
</head>
<body>

<%= yield %>

</body>
</html>
